<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="AmazingTodoContext"
         connectionString="Server=cdc91fbc-7e78-46df-a840-a13c016101e5.sqlserver.sequelizer.com;Database=dbcdc91fbc7e7846dfa840a13c016101e5;User ID=yjvocdwdrlqczcag;Password=T7EXnyfFRuQjEeuCLzCeb7Uhk7vWxE8mRLQPeWGFqsYSzRKMfiADK6pVkxLodqim;" />
  </connectionStrings>
</configuration>