<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="AmazingTodoContext"
         connectionString="Server=a08b75a1-0f1b-48a1-acb0-a13c01589a6f.sqlserver.sequelizer.com;Database=dba08b75a10f1b48a1acb0a13c01589a6f;User ID=nmuizfilflwrittz;Password=g3peVDwEhBSA4vkXHpCSujHCjsXV3uDvJtqb5zFbfqnBA2FZqegeqcJ5tT4BNJLV;" />
  </connectionStrings>
</configuration>